@charset "utf-8";
/* CSS Document */

body {
	background-attachment: fixed, scroll;
	background-clip: border-box, border-box;
	background-color: #713C24;
	background-image: url("/media/images/pizza.jpg"), url("/media/images/pizza.jpg");
	background-origin: padding-box, padding-box;
	background-position: center center, 0 0;
	background-repeat: no-repeat, repeat;
	background-size: cover, auto auto;
	margin: 0px;
	padding: 0px;
        /* Esto es un hack para que funcione el fondo en IE8 */
	background:#713C24 url("/media/images/pizza.jpg")\0/;
	/* Fin del hack*/
}
#contenedor_cont {
	float: left;
	width: 100%;
	height: 65px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 801px;
	margin-top: 40px;

}
#contenedor_cont2 {
	float: left;
	width: 100%;
	height: 353px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 40px;
}

#shorts_up_cont {
	float: left;
	width: 100%;
	position: absolute;
	top: -50px;
	left: 0px;
	height: 40px;
	z-index: 0;
}

#shorts_up {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	height: 30px;
	padding-top: 10px;
}
#logo_cont {
	float: left;
	width: 100%;
}

#logo {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center center;
	height: 235px;
	position: relative;
	z-index: 0;

}
#menu_cont {
	width: 100%;
	top: 240px;
	position: absolute;
	float: left;
}
#menu_principal {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center top;
	height: 70px;
	position: relative;
	z-index: 0;
}
#migas {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 37px;
	text-align: right;
	color: #FFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.75em;
	text-shadow: 0px 1px #000;
}
#migas a {
	color: #DABF95;
	text-shadow: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: transparent;
}
#migas a:hover {
	text-decoration: none;
	color: #FFF;
	border-bottom-color: #FFF;
}
#contenido_cont {
	width: 100%;
	height: 342px;
	float: left;
	margin-top: 40px;
}
#contenido {
	width: 910px;
	margin-right: auto;
	margin-left: auto;
	height: 341px;
	padding-left: 30px;
	position: relative;
	margin-top: -10px;
	z-index: 0;
}
#contenido p {
	float: left;
	width: 500px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.95em;
	line-height: 1.6em;
	clear: both;
	margin-right: 400px;
}
#cont_pagina {
	float: left;
	width: 100%;
	margin-top: -20px;
}
#pagina {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	position: relative;

}
#pizza_right {
	background-image: url();
	float: right;
	position: absolute;
	width: 600px;
	height: 318px;
	top: 1px;
	right: 0px;
	z-index: 0;
}

#pagina img {
	float: left;
	margin-right: 20px;
	margin-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-top-color: #EBDDC5;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #713C24;
	-moz-box-shadow: 0px 4px 6px #000;
	-webkit-box-shadow: 0px 4px 6px #000;
	box-shadow: 0px 4px 6px #000;
	overflow:hidden;
	-webkit-border-radius: 0px 8px 8px 0px;
	-moz-border-radius:  0px 8px 8px 0px;
	border-radius:  0px 8px 8px 0px;
}

#pagina_int {
	background-color: #E1CEAE;
	width: 615px;
	margin-bottom: 0px;
	float: right;
	-webkit-border-radius: 0px 6px 6px 6px;
	-moz-border-radius: 0px 6px 6px 6px;
	border-radius: 0px 6px 6px 6px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #EFE6D6;
	border-bottom-color: #C09854;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	position: relative;
	z-index: 100;
	-moz-box-shadow: 0px 4px 6px #C09854;
	-webkit-box-shadow: 0px 4px 6px #C09854;
	box-shadow: 0px 4px 6px #C09854;
}
#pagina_int img {
	border: 5px solid #FFF;
	-webkit-border-radius: 0px;
	-moz-border-radius:  0px;
	border-radius:  0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
#pagina_int img:hover {
	border-top-color: #D5BA8D;
	border-right-color: #D5BA8D;
	border-bottom-color: #D5BA8D;
	border-left-color: #D5BA8D;
}

.ofertas {
	float: left;
	width: 225px;
	margin-top: 20px;
	margin-left: -10px;
	position: relative;
}
.ofertas_item {
	float: left;
	color: #D6BB8E;
	font-size: 1em;
	-webkit-border-radius: 8px;
	-moz-border-radius:  8px;
	border-radius:  8px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center top;
	width: 185px;
	height: 145px;
	text-align: center;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
}


#contenedor_int {
	float: left;
	width: 900px;
	background-image: url();
	background-color: #D6BB8E;
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 20px;
	-moz-box-shadow: 0 20px 30px #000;
	-webkit-box-shadow: 0 20px 30px #000;
	box-shadow: 0 20px 30px #000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F2E9D9;
	padding: 40px;
}
#contenedor_int2 {
	float: left;
	width: 900px;
	background: url();
	background-color: #D6BB8E;
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 20px;
	-moz-box-shadow: 0 20px 30px #000;
	-webkit-box-shadow: 0 20px 30px #000;
	box-shadow: 0 20px 30px #000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F2E9D9;
	padding: 40px;
}


.pie_de_foto {
	float: left;
	margin-left: 12px;
	font-family: Arial, Helvetica, sans-serif, "Arial Narrow";
	font-size: 0.7em;
	color: #FFF;
	margin-top: 10px;
	width: 89%;
	background-color: #C6A266;
	padding-left: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.div_img_pagina {
	float: left;
	margin-left: -52px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: -10px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 12px;
	width: 325px;
}
.menu_item {
	padding-bottom: 25px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center bottom;
	position: relative;
	margin-bottom: 10px;
}
.oferta_item {
	background-image: url();
	background-repeat: no-repeat;
	background-position: center center;
	height: 120px;
	width: 120px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #713C24;
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-shadow: 0px 1px #F2E9D9;
}




.enlace {
	float: left;
	margin-right: 10px;
	background-image: url();
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	background-repeat: repeat-x;
	background-position: center center;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFF;
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px #FFF;
	-webkit-box-shadow: 0 1px #FFF;
	box-shadow: 0 1px #FFF;
	border: 2px solid #A16D34;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	text-shadow: 0px 1px #000;
}
.enlace:hover {
	color: #51220B;
	border: none;
	padding-top: 7px;
	padding-right: 17px;
	padding-bottom: 7px;
	padding-left: 17px;
	-moz-box-shadow: inset 0 3px 5px #000;
	-webkit-box-shadow: inset 0 3px 5px #000;
	box-shadow: inset 0 3px 5px #000;
	background-color: #A16D34;
	background-image: none;
	text-shadow: 0px 1px #D9C097;
}
.star {
	background-image: url();
	height: 209px;
	width: 209px;
	margin-left: 60px;
	margin-top: -10px;
	text-align: center;
	position: absolute;
}
#horario_cont {
	float: left;
	width: 100%;
	margin-top: -28px;
	z-index: 200;
	position: relative;
}
#horario {
	background-image: url();
	height: 53px;
	width: 347px;
	margin-right: auto;
	margin-left: auto;
	font-family: Harrington, Georgia, "Times New Roman", Times, serif;
	color: #FFF;
	text-align: center;
	padding-top: 8px;
	font-size: 1.1em;
	text-shadow: 0px 1px #000;
}
#horario span {
	color: #A16D34;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.8em;
}
#frase_cont {
	float: left;
	width: 100%;
	z-index: 200;
	margin-top: 10px;
}
#frase {
	background-image: url();
	height: 54px;
	width: 945px;
	margin-right: auto;
	margin-left: auto;
	font-family: Harrington, Georgia, "Times New Roman", Times, serif;
	color: #471E09;
	text-align: center;
	padding-top: 12px;
        font-size: 1.4em;
	background-repeat: no-repeat;
	background-position: center center;
        font-weight: normal;
}
#frase span {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;
	text-shadow: 0px 1px #FFF;
	font-weight: normal;
        font-size: 0.7em;
}
#oferta_icono {
	background-image: url();
	background-repeat: no-repeat;
	background-position: center center;
	height: 30px;
        margin-top: 30px;
}
#inicio {
	height: 140px;
	width: 260px;
	float: left;
	position: absolute;
	left: 340px;
	top: 40px;
}
#redes {
	float: right;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif, "Arial Narrow";
	font-size: 1em;
	font-weight: bold;
	margin-right: 60px;
	margin-top: 28px;
}
#redes p {
	margin: 0px;
	padding: 0px;
	float: left;
	font-family: Harrington, Georgia, "Times New Roman", Times, serif;
	margin-top: 5px;
	color: #853b20;
	text-shadow: 0px 1px #FFF;
}
#redes span {
	display: none;
}
#redes a:hover {
	background-position: center bottom;
}
#fb {
	float: left;
	height: 32px;
	width: 32px;
	background-image: url(../img/fb.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
#tw {
	float: left;
	height: 32px;
	width: 32px;
	background-image: url(../img/tw.png);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
#fo {
	float: left;
	height: 32px;
	width: 32px;
	background-image: url(../img/fo.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
#fecha {
	float: right;
	color: #DBBE94;
	font-size: 0.75em;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-shadow: 0px 1px #000;
	margin-top: 10px;
}
#modulos_cont {
	width: 100%;
	float: left;
	margin-top: -20px;
}
#modulos {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
#modulo1 {
	background-image: url(../img/fondo_modulo1.png);
	height: 235px;
	width: 272px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	text-align: center;
}
#modulo1 a {
	float: none !important;
	-moz-box-shadow: 0 3px 3px #000;
	-webkit-box-shadow: 0 3px 3px #000;
	box-shadow: 0 3px 3px #000;
}
#modulo1 a:hover {
	float: none !important;
	-moz-box-shadow: inset 0 3px 3px #000;
	-webkit-box-shadow: inset 0 3px 3px #000;
	box-shadow: inset 0 3px 3px #000;
}
#modulo2 {
	background: url(../img/fondo_modulo2.png);
	height: 236px;
	width: 498px;
	float: left;
	margin-left: -22px;
}
#descrioferta {
	padding-left: 100px;
	width: 200px;
	height: 100px;
	float: left;
	position: relative;
}
#star2 {
	background-image: url(../img/star2.png);
	height: 96px;
	width: 161px;
	text-align: center;
	position: absolute;
	left: -52px;
	top: -21px;
	padding-top: 45px;
}
#star2 .precio {
	margin-bottom: 0px;
}
#star2 span {
	margin-bottom: 10px;
	float: left;
	width: 100%;
	text-align: center;
}
#modulo3 {
	background: url(../img/fondo_modulo3.png)no-repeat left top,
	url(../img/fondo.png) no-repeat center center;
	height: 235px;
	width: 242px;
	float: left;
	margin-left: -10px;
}
#modulo3 table th {
	text-align: right;
	color: #DBBE84;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	width: 102px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-shadow: 0px 0px 5px #000000;
}
#modulo3 caption {
	display: none;
}
#modulo3 table td{
	font-family: Harrington, Georgia, "Times New Roman", Times, serif;
	color: #FFF;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-shadow: 0px 0px 5px #000000;
	font-size: 1.2em;
}
#modulo_contacto {
	height: 235px;
	width: 242px;
	float: left;
	margin-left: -10px;
	background-image: url(../img/fondo_modulo3.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#modulo_contacto table th {
	text-align: right;
	color: #713C24;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	width: 102px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-shadow: 0px 1px #000000;
}
#modulo_contacto caption {
	display: none;
}
#modulo_contacto table td{
	font-family: Harrington, Georgia, "Times New Roman", Times, serif;
	color: #000;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-shadow: 0px 1px
#efe6d6;
	font-size: 1.2em;
}
#footer_cont {
	width: 100%;
	float: left;
	height: 306px;
	background:url(../img/linea_footer.png) no-repeat center 22px,
	url(../img/fondo_footer.png) repeat-x left top;
}
#footer {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	height: 306px;
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	background-position: center 24px;
}
#copy {
	background-image: url(../img/separador_footer.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 60px;
	color: #DBBE94;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.8em;
	line-height: 1.5em;
}
#copy a {
	color: #FFF;
	text-decoration: none;
}
#copy a:hover {
	text-decoration: underline;
}
.dynamiza {
	float: right;
	margin-top: 10px;
}
.copy {
	float: left;
}
.mapa {
	float: left;
}
.accesibilidad {
	float: right;
	text-align: right;
}
#pizza_portada .star h3 {
        margin-top: 5px !important;
}

@font-face {
    font-family: 'Harrington';
        font-weight: normal;
    font-style: normal;
    src: url('/css/fonts/MTCORSVA.otf');
    src: url("/css/fonts/MTCORSVA.eot?#iefix") format("embedded-opentype"),
             url("/css/fonts/MTCORSVA.woff") format("woff"),
                 url("/css/fonts/MTCORSVA.ttf") format("truetype"),
                 url("/css/fonts/MTCORSVA.svg#Harrington") format("svg");
}
/*===================Pie de pagina=======================*/
footer{
	width:100%;
	background: #F0F0F0;
	border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
	-o-border-radius: 0px 0px 15px 15px;
	padding-bottom: 1px;
}
footer img{
	float:left;
	margin:10px;
	width: 100px;

}
footer p{
	text-align: left;	
	padding: 10px;
	font-family: 'Advent Pro', sans-serif;
	color: #4E4E4E;
}
footer a{
	color:#B10000;
	text-decoration: none;
}
.social {
  display:inline-block;
  margin-bottom:5px;
  text-align:center;
}
#facebook{

	margin-top: 10px;
}

